/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #000;
    color: #fff;
}

section
{
    position: absolute;
}
.carrossel {
    position: relative;
    width: 80%;
    max-width: 800px;
    overflow: hidden;
    border: 2px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
}

.carrossel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carrossel-slide {
    min-width: 100%;
    box-sizing: border-box;
}

.carrossel-slide img {
    width: 100%;
    display: block;
}

button.carrossel-prev,
button.carrossel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 50%;
    z-index: 10;
}

button.carrossel-prev {
    left: 30px;
}

button.carrossel-next {
    right: 30px;
}
